html {
   scroll-behavior: smooth;
 }
 
 body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1f1f1f;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 200px 20px;
  /*background: linear-gradient(to bottom right, #333, #000);*/
  background-image: url("https://github.com/Acacia-hunts-Athena/Portfolio-Page/blob/Image-'Folder'/Huiyan%20Aries.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 48px;
  margin: 0;
}

.hero p {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  margin: 10px 0;
}

button {
  border: 0.5px solid white;
  display: flex;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color:  #606060;
}

section {
  padding: 60px 20px;
}

h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

#about {
  display: flex;
  justify-content: space-evenly;
}

.about {
  text-align: center;
  max-width: 400px;
}

.self-potrait {
  display: flex;
  justify-content: flex-end;
}


.portfolio-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #333;
  background-color: #1f1f1f;
  color: #f0f0f0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1f1f1f;
}

